@dxp:registry=https://common.repositories.cloud.sap/artifactory/api/npm/deploy-releases-hyperspace-npm
//common.repositories.cloud.sap/:_authToken=${PIPER_VAULTCREDENTIAL_REFERENCE_TOKEN}
@openmfp:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${PIPER_VAULTCREDENTIAL_GHCOM_ACCESS_TOKEN}
