<fdp-table
  #table
  fdCompact
  [dataSource]="accounts"
  [initialVisibleColumns]="['ga', 'actions']"
  [noBodyBorders]="true"
  [noBorderY]="true"
  [noOuterBorders]="true"
  [noVerticalBorders]="true"
  [rowNavigatable]="false"
>
  <fdp-table-toolbar title="Btp accounts" [hideSearchInput]="true">
    <fdp-table-toolbar-actions>
      <button
        ariaLabel="Add"
        buttonType="transparent"
        data-testid="app-provider-accounts-add-account-button"
        fd-button
        label="Add"
        (click)="addAccount()"
      ></button>
    </fdp-table-toolbar-actions>
  </fdp-table-toolbar>

  <fdp-column key="ga" label="Global Account" name="ga" />

  <fdp-column align="end" label="" name="actions">
    <fdp-table-header *fdpHeaderCellDef>Actions</fdp-table-header>
    <fdp-table-cell *fdpCellDef="let item">
      <button
        *requiredPolicies="'providerAdmin'"
        ariaLabel="Edit"
        fd-button
        fdType="transparent"
        glyph="edit"
        title="Edit"
        [attr.data-testid]="
          'dxp-extension-accounts-list-' + item + '-edit-button'
        "
        (click)="editAccount(item.ga)"
      ></button>

      <button
        *requiredPolicies="'providerAdmin'"
        ariaLabel="Remove"
        data-analytics-id="dxp-extension-account-list-delete-button"
        fd-button
        fdType="transparent"
        glyph="delete"
        title="Remove"
        [attr.data-testid]="
          'dxp-extension-accounts-list-' + item + '-remove-button'
        "
        (click)="removeAccount(item.ga)"
      ></button>
    </fdp-table-cell>
  </fdp-column>
</fdp-table>
