@if (marketplaceEntry) {
  <fdp-dynamic-page
    ariaLabel="View Extension"
    size="large"
    [autoResponsive]="false"
  >
    <fdp-dynamic-page-title
      [subtitle]="marketplaceEntry.spec.providerMetadata.spec.category ?? ''"
      [title]="marketplaceEntry.spec.providerMetadata.spec.displayName"
    >
      <fdp-dynamic-page-global-actions>
        <fd-toolbar fdType="transparent" [clearBorder]="true">
          <ng-container *requiredPolicies="'providerAdmin'">
            @if (showEditButton()) {
              <fdp-button
                buttonType="standard"
                contentDensity="compact"
                data-testid="dxp-extension-details-edit-button"
                glyph="customize"
                label="Configure"
                i18n-label
                [disabled]="(isChanging | async) ?? false"
                (click)="editExtension()"
              />
            }
          </ng-container>
        </fd-toolbar>
      </fdp-dynamic-page-global-actions>
    </fdp-dynamic-page-title>

    <fdp-dynamic-page-header
      [collapsed]="false"
      [collapsible]="false"
      [pinnable]="false"
    >
      <fd-facet-group
        ariaLabel="View Extension Header"
        data-testid="dxp-extension-details-header"
      >
        <fd-facet id="avatar" type="image">
          <fd-avatar
            ariaLabel="Extension avatar"
            size="m"
            [contain]="true"
            [image]="getIcon(marketplaceEntry.spec.providerMetadata)"
            [transparent]="true"
          />
        </fd-facet>
        <fd-facet type="key-value">
          <label
            data-testid="dxp-extension-details-providerVerification-label"
            fd-form-label
            [colon]="true"
            >Provider</label
          >
          <app-provider-verification
            [verification]="
              marketplaceEntry.spec.providerMetadata.spec.verification
            "
          />
        </fd-facet>
        @if (marketplaceEntry.spec.providerMetadata.spec.creationTimestamp) {
          <fd-facet id="created-on" type="key-value">
            <label
              data-testid="dxp-extension-details-createdOn-label"
              fd-form-label
              [colon]="true"
              >Created On</label
            >
            <span
              aria-label="created-on"
              fd-object-status
              [label]="
                marketplaceEntry.spec.providerMetadata.spec.creationTimestamp
                  | date: 'mediumDate'
              "
            ></span>
          </fd-facet>
        }
        @let status = status$ | async;
        @if (status) {
          <fd-facet type="key-value">
            <label
              data-testid="dxp-extension-details-status-label"
              fd-form-label
              [colon]="true"
              >Status</label
            >
            <span
              fd-object-status
              status="critical"
              [label]="status.label"
            ></span>
          </fd-facet>
        }
        @if (marketplaceEntry.spec.providerMetadata.spec.labels) {
          <fd-facet class="label-container" type="custom">
            @for (
              label of marketplaceEntry.spec.providerMetadata.spec.labels;
              track label.title
            ) {
              <div>
                <fd-info-label
                  type="icon"
                  [color]="label.color"
                  [label]="label.title"
                  [title]="label.title"
                />
              </div>
            }
          </fd-facet>
        }

        @if (marketplaceEntry.spec.providerMetadata.spec.serviceLevel) {
          <fd-facet type="key-value">
            <label
              data-testid="dxp-extension-details-serviceLevel-label"
              fd-form-label
              [colon]="true"
              >Service Level</label
            >
            <span
              data-testid="dxp-extension-details-serviceLevel-status"
              fd-object-status
              [label]="
                mapServiceLevel(
                  marketplaceEntry.spec.providerMetadata.spec.serviceLevel
                )
              "
            >
            </span>
          </fd-facet>
        }
      </fd-facet-group>
    </fdp-dynamic-page-header>

    @if (hasAccountType()) {
      <fdp-dynamic-page-content id="accounts">
        <app-provider-account-table
          [marketplaceEntryInputSignal]="marketplaceEntry"
        />
      </fdp-dynamic-page-content>
    } @else {
      <fdp-dynamic-page-content id="description">
        <ng-container *ngTemplateOutlet="descriptionSection" />
      </fdp-dynamic-page-content>
    }
  </fdp-dynamic-page>
}

<ng-template #descriptionSection>
  <div class="page-section" data-testid="dxp-extension-details-description">
    <div class="page-section__title">
      <h4
        fd-title
        i18n="
          Extension description title|An introduction header for the description
          of an extension
        "
      >
        What is
        {{ marketplaceEntry.spec.providerMetadata.spec.displayName }}?
      </h4>
    </div>
    {{ marketplaceEntry.spec.providerMetadata.spec.description }}
  </div>
  @if (marketplaceEntry.spec.providerMetadata.spec.documentation) {
    <div class="page-section" data-testid="dxp-extension-details-documentation">
      <div class="page-section__title">
        <h4
          fd-title
          i18n="
            Extension documentation title|An introduction header for the
            documentation of an extension
          "
        >
          Want to know more?
        </h4>
      </div>
      @if (marketplaceEntry.spec.providerMetadata.spec.documentation?.length) {
        @for (
          doc of marketplaceEntry.spec.providerMetadata.spec.documentation;
          track doc.name
        ) {
          <p>
            <a fd-link target="_blank" [href]="doc.url"
              >{{ doc.name || 'Documentation' }}
              <fd-icon glyph="inspect" />
            </a>
          </p>
        }
      }
    </div>
  }
  @if (marketplaceEntry.spec.providerMetadata.spec.contacts) {
    <div class="page-section" data-testid="dxp-extension-details-contacts">
      <div class="page-section__title">
        <h4
          fd-title
          i18n="
            Extension contacts title|An introduction header for the contacts of
            an extension
          "
        >
          Contacts
        </h4>
      </div>
      @for (
        contact of marketplaceEntry.spec.providerMetadata.spec.contacts;
        track contact
      ) {
        <div>
          @if (contact.contactLink) {
            <a fd-link target="_blank" [href]="contact.contactLink"
              >{{ contact.displayName }}
            </a>
          } @else {
            <a fd-link target="_blank" [href]="'mailto:' + contact.email">
              {{ contact.displayName }}
            </a>
          }

          @if (contact.roles) {
            <span class="contact-role">
              (
              @for (r of contact.roles; track r) {
                <span
                  >{{ r }}
                  @if (!$last) {
                    <span>, </span>
                  }
                </span>
              }
              )
            </span>
          }
        </div>
      }
    </div>
  }
</ng-template>
