@if (isUnaccounted | async) {
  <div class="message-container">
    <fd-message-strip
      i18n="
        No accounts in extension info|Message for already installed extensions
        without accounts
      "
      type="information"
      [dismissible]="false"
    >
      This extension is installed, but you need an account to use it.
      <a aria-label="Accounts" fd-link (click)="visitExtension()"
        >Manage Account.
      </a>
    </fd-message-strip>
  </div>
}

@let extension = providerObservable | async;
@if (extension) {
  <fdp-dynamic-page
    ariaLabel="View Extension"
    size="large"
    [autoResponsive]="false"
  >
    <fdp-dynamic-page-title
      [subtitle]="extension.category ?? 'DXP'"
      [title]="extension.displayName"
    >
      @if (showInstalledLabel()) {
        <fdp-dynamic-page-key-info>
          <fd-info-label color="8" label="Installed" title="Installed" />
        </fdp-dynamic-page-key-info>
      }
      <fdp-dynamic-page-global-actions>
        <fd-toolbar fdType="transparent" [clearBorder]="true">
          @if (extension.mainLink) {
            <span>
              <button
                fd-button
                fdCompact
                glyph="action"
                label="Open"
                [fdType]="userIsExtensionAdmin ? '' : 'emphasized'"
                (click)="goToExternalLink(extension.mainLink.url)"
              ></button>
            </span>
          }
          <ng-container *requiredPolicies="'providerAdmin'">
            @if (showInstallButton()) {
              <button
                data-analytics-id="dxp-extension-details-dialog-install-button"
                data-testid="dxp-extension-details-dialog-install-button"
                fd-button
                fdCompact
                fdType="emphasized"
                label="Install"
                i18n-label
                [disabled]="isChanging | async"
                (click)="installExtension()"
              ></button>
            }

            @if (showUninstallButton()) {
              <button
                data-analytics-id="dxp-extension-details-dialog-uninstall-button"
                data-testid="dxp-extension-details-dialog-uninstall-button"
                fd-button
                fdCompact
                id="uninstall-btn"
                label="Uninstall"
                i18n-label
                [disabled]="isChanging | async"
                (click)="uninstallExtension()"
              ></button>
            }
          </ng-container>
        </fd-toolbar>
      </fdp-dynamic-page-global-actions>
    </fdp-dynamic-page-title>

    <fdp-dynamic-page-header
      [collapsed]="false"
      [collapsible]="false"
      [pinnable]="false"
    >
      <fd-facet-group ariaLabel="View Extension Header">
        <fd-facet id="avatar" type="image">
          <fd-avatar
            ariaLabel="Extension avatar"
            size="s"
            [contain]="true"
            [image]="getIcon(extension)"
            [transparent]="true"
          />
        </fd-facet>
        <fd-facet>
          <app-provider-verification [verification]="extension?.verification" />
        </fd-facet>

        <fd-facet class="label-container" type="custom">
          @for (label of extension.labels; track label.title) {
            <fd-info-label
              class="info-label"
              type="icon"
              [color]="label.color"
              [label]="label.title"
              [title]="label.title"
            />
          }
        </fd-facet>
      </fd-facet-group>
    </fdp-dynamic-page-header>

    <fdp-dynamic-page-content>
      <div class="page-section">
        <div class="page-section__title">
          <h4
            fd-title
            i18n="
              Extension description title|An introduction header for the
              description of an extension
            "
          >
            What is {{ extension.displayName }}?
          </h4>
        </div>
        {{ extension.description }}
      </div>

      @if (extension.documentation?.length) {
        <div class="page-section">
          <div class="page-section__title">
            <h4
              fd-title
              i18n="
                Extension documentation title|An introduction header for the
                documentation of an extension
              "
            >
              Want to know more?
            </h4>
          </div>
          @for (doc of extension.documentation; track doc.name) {
            <p>
              <a fd-link target="_blank" [href]="doc.url">
                {{ doc.name || 'Documentation' }}
              </a>
            </p>
          }
        </div>
      }

      @let _productOwners = productOwners | async;
      @if (extension.preferredSupportChannels || _productOwners?.length) {
        <div class="page-section">
          <div class="page-section__title">
            <h4
              fd-title
              i18n="
                Extension support channels title|An introduction header for the
                support channel links of an extension
              "
            >
              How to get help?
            </h4>
          </div>

          @let _supportChannels = supportChannels | async;
          @let _communityChannels = communityChannels | async;
          @if (
            _communityChannels?.length ||
            _productOwners?.length ||
            _supportChannels?.length ||
            extension.serviceLevel
          ) {
            <fd-facet type="form">
              @if (_communityChannels?.length || _supportChannels?.length) {
                <fd-facet-content style="flex-wrap: wrap">
                  @if (_communityChannels?.length) {
                    <label
                      data-testid="dxp-extension-community-links"
                      fd-form-label
                      [colon]="true"
                      >Ask the community</label
                    >
                  }
                  @for (link of _communityChannels; track link.displayName) {
                    <span class="community-links">
                      @if (link.url) {
                        <a fd-link target="_blank" [href]="link.url"
                          >{{ link.displayName }}
                        </a>
                      } @else {
                        {{ link.displayName }}
                      }
                    </span>
                  }
                  <div style="width: 100%"></div>
                  @if (_supportChannels?.length) {
                    <label
                      data-testid="dxp-extension-issue-links"
                      fd-form-label
                      [colon]="true"
                      >Report an issue</label
                    >
                  }
                  @for (link of _supportChannels; track link.displayName) {
                    <span class="support-links">
                      @if (link.url) {
                        <a fd-link target="_blank" [href]="link.url"
                          >{{ link.displayName }}
                        </a>
                      } @else {
                        {{ link.displayName }}
                      }
                    </span>
                  }
                </fd-facet-content>
              }
              @if (_productOwners?.length) {
                <fd-facet-content class="fd-margin-top--sm">
                  <label
                    data-testid="dxp-extension-product-owners"
                    fd-form-label
                    [colon]="true"
                    >Product Owners</label
                  >
                  @for (contact of _productOwners; track contact.displayName) {
                    <span class="contacts-links">
                      @if (contact.contactLink) {
                        <a fd-link target="_blank" [href]="contact.contactLink"
                          >{{ contact.displayName }}
                        </a>
                      } @else {
                        @if (contact.email) {
                          <a
                            fd-link
                            target="_blank"
                            [href]="'mailto:' + contact.email"
                            >{{ contact.displayName }}
                          </a>
                        } @else {
                          <span>{{ contact.displayName }}</span>
                        }
                      }

                      @if (!$last) {
                        <span>, </span>
                      }
                    </span>
                  }
                </fd-facet-content>
              }
              @if (extension.serviceLevel) {
                <fd-facet-content>
                  <label
                    data-testid="dxp-extension-details-serviceLevel"
                    fd-form-label
                    [colon]="true"
                    >Service Level</label
                  >
                  <fd-text
                    data-testid="dxp-extension-details-serviceLevel"
                    id="service-level"
                    [text]="mapServiceLevel(extension.serviceLevel)"
                  />
                </fd-facet-content>
              }
            </fd-facet>
          }
        </div>
      }
    </fdp-dynamic-page-content>
  </fdp-dynamic-page>
}
