<fd-dynamic-page>
  <fd-dynamic-page-header />
  <fd-dynamic-page-content>
    @let _wizardConfig = wizardConfig();
    @if (_wizardConfig && !isLoading()) {
      @if (_wizardConfig.wizardDefinition) {
        <div>
          <dxp-wizard
            [wizardDefinition]="_wizardConfig.wizardDefinition"
            (cancel)="closeDialog()"
            (resultParameters)="finish($event)"
            (wizardError)="wizardError($event)"
          />
        </div>
      } @else {
        <div>
          <dxp-wizard-generator
            [defaultValues]="defaultValues()"
            [header]="header()"
            [navigationButtonLabels]="navigationButtonLabels"
            [wizardConfig]="_wizardConfig.dxpWizardConfiguration"
            (wizardCanceled)="closeDialog()"
            (wizardError)="wizardError($event)"
            (wizardFinished)="wizardFinished($event)"
          />
        </div>
      }
    }
  </fd-dynamic-page-content>

  <fd-dynamic-page-footer />
</fd-dynamic-page>
