<fd-message-box>
  <fd-message-box-header>
    <h1 fd-title>Remove account</h1>
  </fd-message-box-header>

  <fd-message-box-body>
    Removing the
    @if (accountIsDefault()) {
      <span> default</span>
    }
    {{ account.type.displayName }} account
    <b>{{ account.displayName }}</b> removes the link between
    <b>{{ account.type.displayName }}</b> and the Hyperspace Portal product or
    experiment.

    @if (accountIsDefault() && nextDefaultAccounts) {
      <p>
        @if (nextDefaultAccounts.length === 1) {
          <span>
            "{{ nextDefaultAccounts[0].displayName }}" will be set as the new
            default account.</span
          >
        }
        @if (nextDefaultAccounts.length > 1) {
          <span>
            <label
              fd-form-label
              i18n="
                new default account|Label for new default account when the
                current one gets deleted
              "
              inlineHelpBodyPlacement="right"
              inlineHelpGlyph="message-information"
              inlineHelpTitle="In the Hyperspace Portal product or experiment, this account is used as a default whenever you need an account of this type. You can change the default account at any time."
              [colon]="true"
              [required]="true"
              >New default Account</label
            >
            <fd-select
              fd-initial-focus
              style="width: 100%"
              [extendedBodyTemplate]="true"
              [formControl]="defaultAccount"
              [state]="getState(defaultAccount)"
            >
              @for (item of nextDefaultAccounts; track item.id) {
                <li fd-option [value]="item">
                  @if (item.subType) {
                    <span> {{ item.subType }}/</span>
                  }
                  {{ item.displayName }}
                </li>
              }
            </fd-select>
          </span>
        }
      </p>
    }
    <p data-testid="dxp-extension-account-remove-confirmation-label">
      To confirm, enter "<b>{{ account.displayName }}</b
      >".
    </p>
    <fd-form-input-message-group>
      <input
        data-testid="dxp-extension-account-remove-dialog-input"
        fd-form-control
        [formControl]="confirmationCheck"
        [state]="getState(confirmationCheck)"
      />
      @if (validate && confirmationCheck.errors) {
        <fd-form-message type="error">
          <span
            i18n="
              display name required error|Error for the display name input when
              the user leaves it blank.
            "
          >
            Name doesn't match
          </span></fd-form-message
        >
      }
    </fd-form-input-message-group>
  </fd-message-box-body>

  <fd-message-box-footer>
    <fd-button-bar
      ariaLabel="Remove"
      data-analytics-id="dxp-extension-account-remove-dialog-button"
      data-testid="dxp-extension-account-remove-dialog-button"
      fdType="emphasized"
      label="Remove"
      (click)="remove()"
    />
    <fd-button-bar
      ariaLabel="Cancel"
      data-testid="dxp-extension-account-remove-dialog-cancel-button"
      label="Cancel"
      (click)="cancel()"
    />
  </fd-message-box-footer>
</fd-message-box>
