@let wizConf = wizardConfig | async;
@if (wizConf) {
  <span>
    @if (!wizConf.wizardDefinition) {
      <span>
        <dxp-wizard-generator
          [defaultValues]="(defaultValues | async) ?? undefined"
          [navigationButtonLabels]="navigationButtonLabels"
          [wizardConfig]="wizConf.dxpWizardConfiguration"
          (wizardCanceled)="wizardCanceled()"
          (wizardError)="wizardError($event)"
          (wizardFinished)="wizardFinished($event)"
        />
      </span>
    }
    @if (wizConf.wizardDefinition) {
      <span>
        <dxp-wizard
          [wizardDefinition]="wizConf.wizardDefinition"
          (cancel)="wizardCanceled()"
          (resultParameters)="finish($event)"
          (wizardError)="wizardError($event)"
        />
      </span>
    }
  </span>
}
